.header{
    border-bottom: 1px solid black;
}
.logo{
    font-size: x-large;
    font-weight: bold;
}
.header1{
    font-size: large;
}
.header1:hover {
    background-color:#6366F1;
    border-radius:10px;
    color:white ! important;
}
.icon{
    margin-right:5px;
    margin-bottom:5px;
}
.icon2{
    margin-right:10px;
    margin-bottom:5px;
    color:#6366F1 ;
}
.header2{
    color: #1C2024;
}